body {
  background-color: yellow;
}

span {
  margin: 20px;
}

#gameCanvas {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flexContainer {
  display: flex;
}

#score,
#highScore,
#difficulty {
  font-size: 24px;
  font-family: 'Antic Slab', serif;
}

button {
  margin: 0px 30px 0px 30px;
  color: white;
  padding: 15px;
  border-radius: 25px;
  position: relative;
  background-color: green;
  border: 2px solid brown;
  cursor: pointer;
}

.active,
.btn:hover {
  color: white;
  box-shadow: 0px 0px 0px 6px brown;
}

#startButton {
  margin-top: 70px;
  margin-left: 140px;
}

#intro {
  margin-right: 43px;
  font-size: 20px;
}

#startButton,
#intro {
  position: absolute;
  top: 45%;
  left: calc(35%);
}